---
interface Props {
    href?: string;
    target?: "_blank" | "_self" | "_parent" | "_top";
    rel?: string;
    type?: "button" | "submit" | "reset";
    variant?:
        | "primary"
        | "secondary"
        | "cta-primary-dark"
        | "cta-secondary-dark";
    label: string;
    labelKey?: string;
}

const {
    href,
    target,
    rel,
    type = "button",
    variant = "primary",
    label,
    labelKey,
} = Astro.props as Props;
---

{
    href ? (
        <a class={`btn btn-${variant}`} href={href} target={target} rel={rel}>
            {labelKey ? <span data-i18n={labelKey}>{label}</span> : label}
        </a>
    ) : (
        <button class={`btn btn-${variant}`} type={type}>
            {labelKey ? <span data-i18n={labelKey}>{label}</span> : label}
        </button>
    )
}
