---
interface Props {
    href?: string;
    type?: "button" | "submit" | "reset";
    variant?:
        | "primary"
        | "secondary"
        | "cta-primary-dark"
        | "cta-secondary-dark";
    label: string;
    labelKey?: string;
}

const {
    href,
    type = "button",
    variant = "primary",
    label,
    labelKey,
} = Astro.props as Props;
---

{
    href ? (
        <a class={`btn btn-${variant}`} href={href}>
            {labelKey ? <span data-i18n={labelKey}>{label}</span> : label}
        </a>
    ) : (
        <button class={`btn btn-${variant}`} type={type}>
            {labelKey ? <span data-i18n={labelKey}>{label}</span> : label}
        </button>
    )
}
